.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img.svg.icon-small(src="/img/ribbon.svg")
    
    .collapse.navbar-collapse
      if user
        ul.nav.navbar-nav
          li.dropdown(class=title=='Events'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Events &nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/event') event
              li
                a(href='/event/new') New Event
              li
                a(href='/event/list') List Events
              li
                a(href='/event/search') Search Events
                
          li.dropdown(class=title=='Entries'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Entries &nbsp;
              i.caret
            ul.dropdown-menu     
              li
                a(href='/entry') entry
              li
                a(href='/entry/new') New Entry
              li
                a(href='/entry/list') List Entries
              li
                a(href='/entry/search') Search Entries

      else
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/register') Register
            
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(40)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout